name: check on push

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: make test
      run: make test
    - name: make count
      run: make count
